# Rime specific files
*.log
*.userdb/*
!.gitignore
build/*.yaml
trash/

# VSCode
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Icon?
!Icon?/
Desktop.ini

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Linux
*~

# Temporary files
*.tmp
*.bak
*.swp
*~
.#*
%.tmp
%.bak